In [8]:
#Dependencies
import pandas as pd
import numpy as np

In [39]:
#Read in Vine Table CSV file 
vine_table_data = pd.read_csv("Vine_table_challenge.csv")
vine_df = vine_table_data
vine_df.head()
vine_df["review_id"].value_counts()

R15JJSRQ79G29N    1
R39P5KOTZZXJV4    1
R29AYDUSAAMAOK    1
R2H0RHHAM2TU3L    1
R2FSYL5AZKVIUF    1
                 ..
R1FD2DKE5RWKP7    1
R3C6IEON1PI4A0    1
R1KIK04S2G07K2    1
R2DQF8YQBBJ6YF    1
RP09FLC96KUPP     1
Name: review_id, Length: 1048575, dtype: int64

In [38]:
#Filter dataframe to include reviews with over 20 votes
vine_total_votes_df = vine_df.loc[(vine_df["total_votes"] >= 20)]
vine_total_votes_df.head()

R23MTEWZITYY4K    1
R1AV6MISAZHRZD    1
R1415A2LSBFLIB    1
R1PMKFFD1HQSA7    1
R2XEFE9K9XMXJF    1
                 ..
R3SKYPACNW6PG3    1
RAT95FM6MK5O3     1
R1NBLLNXVKTPI7    1
R2Y6OCM9IEH9QO    1
R1RI21G1M2BOL5    1
Name: review_id, Length: 5139, dtype: int64

In [20]:
#Filter earlier dataframe to get rows where helpful votes divided by total votes is >= 50%
fifty_df = vine_total_votes_df.loc[(vine_total_votes_df["helpful_votes"]/ vine_total_votes_df["total_votes"] >= 0.5)]
fifty_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N

In [23]:
#Filter earlier dataframe to get all rows where a review was part of the Vine Program "Y"
Program_df = fifty_df.loc[(fifty_df["vine"] == "Y")]
Program_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [24]:
#Double check to make sure there were in fact 0 vine program reviews
fifty_df['vine'].value_counts()

N    3639
Name: vine, dtype: int64

In [25]:
#Same dataframe but get rows where the review was not part of the Vine Program "N"
Non_Program_df = fifty_df.loc[(fifty_df["vine"] == "N")]
Non_Program_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N

In [46]:
#Determine the total number of reviews, the number of 5-star reviews, 
#and the percentage of 5-star reviews for the two types of review but in my case, just the unpaid
fifty_df['vine'].value_counts()

N    3639
Name: vine, dtype: int64

In [47]:
five_star_df = Non_Program_df.loc[(vine_df["star_rating"] == 5.0)]
five_star_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
1686,RRFZ7QZTRJC59,5.0,292.0,300.0,N,N

In [37]:
five_star_df["star_rating"].value_counts()

5.0    2213
Name: star_rating, dtype: int64

In [44]:
percent_fivestar = [(2213/3639)*100]
percent_fivestar

[60.813410277548776]